* {
  border-radius: 1%;
  box-sizing: border-box;
}
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: hsla(180, 68%, 46%, 0.421);
}
header {
  min-height: 8rem;
  background-color: azure;
  display: grid;
  grid-template-rows: 12px repeat(3, 1fr) 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

footer {
  min-height: 4rem;
  background-color: azure;
}
footer {
  font-style: oblique;
  display: flex;
  justify-content: center;
  align-items: center;
}


main {
  border-radius: 40%;
  position: relative;
  min-height: calc(100vh - 12rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.table {
  border-radius: 35%;
  padding: 5px;
  background-color: aqua;
  width: min(50vw, 450px);
  height: min(50vw, 450px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  gap: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.tile {
  border-radius: 35%;
  font-family: 'Brush Script MT' ,Georgia, 'Times New Roman', Times, serif;
  font-size: min(9vw, min(14vw, 110px));
  background-color: hsl(180, 100%, 27%);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.startButton {
  background-color: azure;
  grid-row: 2 / span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  border-radius: 10px;
  height: 1.7rem;
  width: 145px;
  font-size: large;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.mode {
  display: none;
  grid-row: 3 / span 1;
}

.mode > div {
  display: inline-block;
  padding: 3px;
  /* margin: 12px 12px; */
  width: 20ch;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  text-align: center;
  transition: 0.5s;
}

.mode div:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transform: scale(1.05);
  background-color: hsl(180, 100%, 27%);
}

.players {
  grid-row: 4 / span 1;
  display: none;
  justify-content: center;
}
.players .player input {
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  justify-content: center;
  padding: 2px;
  margin: 0 5px 0;
  text-align: center;
}
.sign {
  background-color: azure;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0 3px 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.result {
  position: absolute;
  top: 10px;
}

.result h2 {
  padding: 0;
  margin: 0;
  color:#fc0fc0;
  font-size: 1.2rem;
}

.gradient-border {
  --borderWidth: 3px;
  background: #1d1f2033;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 8s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.credits {
  font-size: 10px;
  text-align: justify;
}